<div class="container principal">
    <div class="page-header">
        <h1 ng-bind="todayCtrl.today | date:'mediumDate'"></h1>
    </div>
    <p class="lead"><button class="btn btn-success btn-lg">Cheguei</button></p>
    <p class="lead"><button class="btn btn-success btn-lg">Saí para almoçar</button> <button class="btn btn-primary btn-lg">Marcar 1h de almoço</button></p>
    <p class="lead"><button class="btn btn-success btn-lg">Voltei do almoço</button> <button class="btn btn-primary btn-lg">Marcar 1h de almoço</button></p>
    <p class="lead"><button class="btn btn-success btn-lg">Estou indo pra casa</button></p>

</div>